.Title{
    color: dodgerblue;
    color: rgb(0, 132, 255);
    color: #ffffff;
}
/*Podemos agregar colores de diferentes maneras.
1. Nombres de colores (blue,red,violet)
2.Hexadecimales
3.RGB